body{
	font-family:segoe UI historic, helvetica,arial,sans-serif;
	background-color:#ededed;
}
.container{
	width:100%;
	height:100%;
}
.navbar{
	background-color:white;
	padding:1%;
	height:4%;
}
.navbar-items{
	display:flex;
	justify-content:;
}
.nav-font-one{
	width:25%;
}
.nav-font-two {
   width:50%;
   display:flex;
   justify-content:space-around;
}
.nav-font-two i{
	padding-left:;
	font-size:1.2em;
}
.nav-font-four{
	display:flex;
	width:15%;
}
.nav-font-four i{
	padding-right:0.8em;
	font-size:1.2em;
}
.nav-font-one img{
	width:20%;
	height:45%;
	float:left;
	margin-right:2%;
}
.searchbar{
	display:flex;
	background-color:#ededed;
	width:65%;
	height:33%;
	padding-top:2%;
	border-radius:1.5em;
	padding-left:2%;
}
.nav-font-three{
	display:;
	width:10%;
}
.nav-font-three p{
	margin-top:3%;
}
.nav-font-three img{
	width:22%;
	clip-path:circle();
	float:left;
    margin-right:2%;
    margin-top:-3;	
	
}

input{
    border:none;
	appearance:none;
	outline:none;
    background-color:#ededed;
    width:80%;	
}
.content{
	display:flex;
	width:100%;
	width:96%;
}
.box-one{
	width:30%;
	margin-left:1%;
}
.box-one-image img{
	float:left;
	width:8%;
	clip-path:circle();
	margin-right:2%;
}
.box-one-image p{
	padding-top:2%;
}
.box-one-font{
	margin-top:8%;
}
.box-one-font i{
	float:left;
	margin-right:2%;
	color:blue;
	font-size:1.2em;
}
.box-two{
	width:50%;
}
.box-two-images{
	display:flex;
}
.box-two-image1{
	background-color:white;
	position:relative;
	margin-top:4.5%;
	border-radius:1em;
	height:12em;
}
.box-two-image1 i{
	position:absolute;
	top:110;
	background:white;
	border-radius:50%;
	border:5px white solid;
	font-size:2em;
	color:blue;
	padding-bottom:;
	margin-left:40%;
}
.story{
	margin-left:20%;
	margin-top:20%;

}
.box-two-image1 img{
	width:8em;
	height:8em;
	border-radius:1em 1em 0em 0em;
	z-index:-1;	
	
}
.box-two-image2{
	 background-image:url('img/bongo.jpg');
          background-position:center;
          background-size:cover;
          background-repeat:no-repeat;
		  width:8em;
		  height:12em;
		  margin-top:3.5%;
		  border-radius:1.5em;
		  margin-left:2%;
}
.box-two-image2 div{
   color:white;
   margin-top:120%;
   z-index:1;   
}
.box-two-image2 img{
	float:left;
	width:25%;
	border-radius:50%;
     border:4px blue solid;
	 margin-left:12%;
	 margin-top:10%;
}
.box-two-image3{
	 background-image:url('img/bongo.jpg');
          background-position:center;
          background-size:cover;
          background-repeat:no-repeat;
		  width:8em;
		  height:12em;
		  margin-top:3.5%;
		  border-radius:1.5em;
		  margin-left:2%;
}
.box-two-image3 div{
   color:white;
   margin-top:120%;
   z-index:1;   
}
.box-two-image3 img{
	float:left;
	width:25%;
	border-radius:50%;
     border:4px blue solid;
	 margin-left:12%;
	 margin-top:10%;
}
.box-two-image4{
	 background-image:url('img/bongo.jpg');
          background-position:center;
          background-size:cover;
          background-repeat:no-repeat;
		  width:8em;
		  position:relative;
		  height:12em;
		  margin-top:3.5%;
		  border-radius:1.5em;
		  margin-left:2%;
}
.box-two-image4 i{
	position:absolute;
	font-size:2em;
	color:white;
	background:black;
	border-radius:50%;
	margin-top:50%;
	margin-left:48%;
}
.box-two-image4 div{
   color:white;
   margin-top:120%;
   z-index:1;   
}
.box-two-image4 img{
	float:left;
	width:25%;
	border-radius:50%;
     border:4px blue solid;
	 margin-left:12%;
	 margin-top:10%;
}
.box-two-search{
	background-color:white;
	margin-top:1%;
	height:30%;
	width:80%;
	margin-left:5%;
	border-radius:1em;
	padding-top:1%;
}
.box-two-search img{
	width:8%;
	border-radius:50%;
	float:left;
	margin-right:8%;
	margin-top:;
	margin-left:3%;
}
.box-two-searchbar{
	background-color:#ededed;
	width:80%;
	height:25%;
	padding-top:2%;
	border-radius:1.5em;
	padding-left:2%;
	margin-left:12%;
	margin-top:1%;
}
.box-two-searchbar input{
	font-size:1em;
	width:92%;
}
.box-two-search-item{
	display:flex;
	justify-content:;
	margin-top:3%;
	border-top:2px solid #ededed;
	padding-right:5%;
	padding-left:7%;
	
}
.search-item1{
	padding-left:;
}
.search-item1 i{
	float:left;
	margin-top:15%;
	color:red;
	font-size:1.5em;
	
}
.search-item1 p{
	margin-left:40%;
}
.search-item2{
	padding-left:18%;
}
.search-item2 i{
	float:left;
	margin-top:15%;
	color:green;
	font-size:1.5em;
	
}
.search-item2 p{
	margin-left:40%;
}
.search-item3{
	padding-left:15%;
}
.search-item3 i{
	float:left;
	margin-top:12%;
	color:yellow;
	font-size:1.5em;
}
.search-item3 p{
	margin-left:27%;
}
.box-two-item{
	background:white;
	margin-top:2.5%;
	width:78%;
	height:12%;
	margin-left:4%;
	border-radius:1em;
	display:flex;
	justify-content:space-between;
	padding:2%;
	
}
.box-two-item1{
	display:flex;
	justify-content:space-around;
	border:3px solid #ededed;
	border-radius:1.5em;
	width:30%;
}
.box-two-item1 i{
	margin-top:9%;
	font-size:1.5em;
	color:orange;
}
.box-two-item1 p{
	color:blue;
}
.box-two-item img{
	width:9%;
	border-radius:50%;
	height:80%;
	margin-left:;
}
.box-three{
	width:20%;
}
.your-page{
	display:flex;
	justify-content:space-between;
	margin-top:6%;
	margin-left:3%;
}
.content-three-box-one-bold{
	display:flex;
	margin-top:6%;
	margin-left:3%;
}
.content-three-box-one-bold img{
	width:8%;
	border-radius:50%;
	margin-right:3%;
} 